bin/
        obj/Debug/net8.0/Task11.csproj.CoreCompileInputs.cache
        obj/Debug/net8.0/Task11.csproj.FileListAbsolute.txt
        obj/Debug/net8.0/Task11.dll
        obj/Debug/net8.0/Task11.genruntimeconfig.cache
        obj/Debug/net8.0/Task11.pdb
        obj/Debug/net8.0/apphost.exe
        obj/Debug/net8.0/ref/
        obj/Debug/net8.0/refint/
